{% extends "templates/layout.njk" %}

{% set title = "Контакты" %}
{% block styles %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="css/contacts-page.min.css">

{% endblock %}


{% block content %}
    <div class="page">
        <div class="page__nav"></div>
        <section class="contacts page__section">
            <div class="section__header">
                <div class="container">
                    <h1 class="section__title">Контакты</h1>
                </div>
            </div>
            <div class="section__body">
                <div class="container">
                    <div class="contacts__header">
                        <div class="contacts__header-wrapper">
                            <div class="contacts__info">
                                <div class="contacts__info-item contacts__info-item--phone">
                                    <div class="contacts__info-icon">
                                        <svg><use xlink:href="#phone"></use></svg>
                                    </div>
                                    <div class="contacts__info-desc">
                                        <span>8 (976) 543 21 00</span>
                                        <span>Пн - Пт с 08:00 до 20:00</span>
                                    </div>
                                </div>
                                <a href="mailto:mail@example.com" class="contacts__info-item contacts__info-item--mail">
                                    <div class="contacts__info-icon">
                                        <svg><use xlink:href="#mail"></use></svg>
                                    </div>
                                    <div class="contacts__info-desc">mail@example.com</div>
                                </a>
                                <div class="contacts__info-item contacts__info-item--geo">
                                    <div class="contacts__info-icon">
                                        <svg><use xlink:href="#geo"></use></svg>
                                    </div>
                                    <div class="contacts__info-desc">
                                        Республика Татарстан, г.&nbsp;Казань, ул.&nbsp;Баумана, 1
                                    </div>
                                </div>
                            </div>
                            <ul class="contacts__socials">
                                <li class="contacts__social-item">
                                    <a href="#" class="contacts__social-link contacts__social-link--vk">
                                        <svg><use xlink:href="#vk"></use></svg>
                                    </a>
                                </li>
                                <li class="contacts__social-item">
                                    <a href="#" class="contacts__social-link contacts__social-link--whatsapp">
                                        <svg><use xlink:href="#whatsapp"></use></svg>
                                    </a>
                                </li>
                                <li class="contacts__social-item">
                                    <a href="#" class="contacts__social-link contacts__social-link--telegram">
                                        <svg><use xlink:href="#telegram"></use></svg>
                                    </a>
                                </li>
                                <li class="contacts__social-item">
                                    <a href="#" class="contacts__social-link contacts__social-link--youtube">
                                        <svg><use xlink:href="#youtube"></use></svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contacts__main">
                        <form action="#" method="POST" name="" class="contacts__form form">
                            <div class="form__title">Обратная связь</div>
                            <div class="form__body">
                                <div class="form__control">
                                    <input type="text" name="name" class="form__input form__input--required" placeholder="Ваше имя" autocomplete="off">
                                </div>
                                <div class="form__control">
                                    <input type="tel" name="phone" class="form__input form__input--required" placeholder="+7 (999)-999-99-99" autocomplete="off">
                                </div>
                                <div class="form__control form__control--full-width">
                                    <input type="email" name="mail" class="form__input form__input--required" placeholder="E-mail" autocomplete="off">
                                </div>
                                <div class="from__control form__control--full-width">
                                    <textarea name="" id="" class="form__input form__textarea" placeholder="Ваш комментарий"></textarea>
                                </div>
                                <div class="form__file">
                                    <div class="form__file-field">
                                        <input class="form__file-input" type="file" id="file" accept=".pdf, .doc, .docx"> 
                                        <label class="form__file-label" for="file">
                                            <span class="text">Прикрепить файл</span>
                                            <svg class="icon"><use xlink:href="#plus"></use></svg>
                                            </label>
                                        </div>
                                        <div class="form__file-doc">
                                            <span class="text"> </span>
                                            <button class="close" type="button">
                                                <svg><use xlink:href="#cross"></use></svg>
                                            </button>
                                        </div>
                                    </div>
                                <button class="form__submit button button--primary" type="submit">
                                    <span>Заказать звонок</span>
                                </button>
                                <div class="form__agreement">Нажимая на кнопку «Заказать звонок» вы соглашаетесь c <a href="#">политикой конфиденциальности</a> сайта</div>
                            </div>
                        </form>
                        <div id="map" class="contacts__map" data-center="49.123356, 55.782238"></div>
                    </div>
                    <div class="contacts__footer">
                        <div class="contacts__footer-cols">
                            <div class="contacts__footer-col col">
                                <div class="col__title">Реквизиты:</div>
                                <div class="col__info">
                                    <div class="col__text-small col__doc">ИНН: 1443543432432</div>
                                    <div class="col__text-small col__doc">ОГРН: 3849343043243</div>
                                    <div class="col__text-small col__doc">ЕГРЮЛ: 1213213123124541</div>
                                    <div class="col__text-small col__doc">ЕГРИП: 2234 421421 122</div>
                                </div>
                            </div>
                            <div class="contacts__footer-col col">
                                <div class="col__title">Учредители:</div>
                                <div class="col__info">
                                    <div class="col__text-big col__company">ООО «РЕСЕТ»</div>
                                    <a href="#" target="_blank" class="col__link">Правовая информация</a>
                                </div>
                            </div>
                            <div class="contacts__footer-col col">
                                <div class="col__title">Генеральный директор</div>
                                <div class="col__info">
                                    <div class="col__text-big">Иванов Иван Иванович</div>
                                </div>
                            </div>
                            <div class="contacts__footer-col col">
                                <div class="col__info">
                                    <a href="#" class="col__button">
                                        <span>Скачать реквизиты</span>
                                        <svg><use xlink:href="#download"></use></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>
    {{ super() }}
{% endblock %}