{% extends "templates/layout.njk" %}

{% set title = "Главная страница" %}
{% block styles %}
    <link rel="stylesheet" href="css/reviews-page.min.css">
{% endblock %}


{% macro Review() %}
    <div class="reviews__review-item review">
        <div class="review__author">
            <div class="review__author-icon">
                <img src="images/client.png" alt="">
            </div>
            <div class="review__author-name">Анастасия<br>Морозова</div>
        </div>
        <div class="review__text">
            <p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует.</p>
            <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм.Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p>
        </div>
        <div class="review__date">
            <span class="review__day">22</span><span class="review__month">/04</span>
        </div>
    </div>
{% endmacro %}


{% block content %}
    <div class="page">
        <nav class="page__nav breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Отзывы</a>
                    </li>
                </ol>
            </div>
        </nav>
        <section class="reviews page__section">
            <div class="section__header">
                <div class="container">
                    <h1 class="section__title">Отзывы</h1>
                </div>
            </div>
            <div class="section__body">
                <div class="container">
                    <div class="reviews__list">
                        {% for item in range(1,7) %}
                            {{ Review() }}
                        {% endfor %}
                    </div>
                    <button class="reviews__button button-more" type="button">
                        <span>Показать еще</span>
                        <svg>
                            <use xlink:href="#plus"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
    </div>
    {% include "pages-blocks/call-us.njk" %}
{% endblock %}
