{% extends "templates/layout.njk" %}

{% set title = "Детальная акции" %}

{% block styles %}
    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/stock-page.min.css">
{% endblock %}


{% block content %}
    <section class="stock">
        <img src="images/hero-stock.png" alt="">
        <nav class="stock__breadcrumbs breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="stocks-page.html" class="breadcrumbs__link">Акции</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Скидка 10% на сбор анализов</a>
                    </li>
                </ol>
            </div>
        </nav>
        <div class="stock__container container">
            <div class="stock__content">
                <h1 class="stock__title">Скидка 10% на сбор анализов</h1>
                <div class="stock__desc">Закажите услугу по сбору анализов в июне и получите скидку 10%</div>
            </div>
        </div>
    </section>
    <section class="content section">
        <div class="container">
            <div class="content__column">
                <div class="content__block">
                    <h2>Скорая медицинская помощь</h2>
                    <p>
                        Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение существенных финансовых и административных условий. Задача организации, в особенности же дальнейшее развитие различных форм деятельности <span>играет важную роль в формировании</span> существенных финансовых и административных условий. Таким образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                    </p>
                    <p>
                        Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет <span>важную роль в формировании позиций</span>, занимаемых участниками в отношении поставленных задач.
                    </p>
                </div>
                <div class="content__block">
                    <h4>Виды оказываемой помощи:</h4>
                    <div>
                        <p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                    </div>
                    <ul>
                        <li>Срочная подача скорой помощи</li>
                        <li>полный комплекс выездных услуг</li>
                        <li>доступная стоимость, Вызов от 3000 ₽</li>
                        <li>Опытные врачи разных специализаций</li>
                    </ul>
                    <p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                    <img src="images/hero-service.png" alt="">
                </div>
                <div class="content__block">
                    <h4>Почему стоит обратиться к нам:</h4>
                    <p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                    <h5>Этапы оказания помощи:</h5>
                    <ol>
                        <li>Оставьте заявку на сайте или позвоните по номеру: 8 (976) 543 21 00 круглосуточно</li>
                        <li>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</li>
                        <li>Ожидаете бригаду скорой помощи, специалисты прибудут на адрес в течении 30 минут</li>
                        <li>По прибытию бригады, получаете профессиональную квалифиуированную помощь</li>
                    </ol>
                    <blockquote>
                        <p>
                            Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. По прибытию бригады, получаете профессиональную квалифиуированную помощь. По прибытию бригады, получаете профессиональную квалифиуированную помощь.
                        </p>
                        <footer>
                            <div class="author">
                                <div class="author__image">
                                    <img src="images/director.png" alt="">
                                </div>
                                <div class="author__name">Фёдоров Кирилл</div>
                                <div class="author__position">Генеральный директор «РЕСЕТ»</div>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <aside class="content__aside">
                <form action="#" method="POST" name="" class="content__form form">
                    <h5 class="form__title">Остались вопросы?<br><span>Оставьте заявку</span></h5>
                    <div class="form__control">
                        <input type="text" name="name" class="form__input form__input--required" placeholder="Ваше имя" autocomplete="off">
                    </div>
                    <div class="form__control">
                        <input type="tel" name="phone" class="form__input form__input--required" placeholder="+7 (999)-999-99-99" autocomplete="off">
                    </div>
                    <button class="form__submit button button--primary" type="submit">
                        <span>Задать вопросы</span>
                    </button>
                    <div class="form__agreement">Нажимая на кнопку «Заказать звонок» вы соглашаетесь c <a href="#">политикой конфиденциальности</a> сайта</div>
                </form>
            </aside>
        </div>
    </section>
    {% include "pages-blocks/our-advantages.njk" %}
    {% include "pages-blocks/about-us.njk" %}
    {% include "pages-blocks/call-us.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    <script src="js/libs/locomotive-scroll.min.js"></script>
    {{ super() }}
    
{% endblock %}