{% extends "templates/layout.njk" %}

{% set title = "Список акций" %}

{% block styles %}
    <link rel="stylesheet" href="css/stocks-page.min.css">
{% endblock %}


{% block content %}
    {% macro Stock(args) %}
        <a href="stock-page.html" class="stocks__stock-item stock">
            <img src="images/stock.png" alt="">
            <div class="stock__content">
                <div class="stock__name">Скидка 10% на сбор анализов</div>
                <div class="stock__desc">Закажите услугу по сбору анализов в июне и получите скидку 10%</div>
                <div class="stock__more">
                    <span>Узнать подробее</span>
                    <svg>
                        <use xlink:href="#arrow-link"></use>
                    </svg>
                </div>
            </div>
        </article>
    {% endmacro %}

    <div class="page">
        <nav class="page__nav breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Акции</a>
                    </li>
                </ol>
            </div>
        </nav>
        <section class="stocks page__section">
            <div class="section__header">
                <div class="container">
                    <h1 class="section__title">Акции</h1>
                </div>
            </div>
            <div class="stocks__body section__body">
                <div class="container">
                    <div class="stocks__list">
                        {% for i in range(0, 12) %}
                            {{ Stock() }}
                        {% endfor %}
                    </div>
                    <button class="stocks__button" type="button">
                        <span>Показать еще</span>
                        <svg>
                            <use xlink:href="#plus"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
        {% include "pages-blocks/call-us.njk" %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="js/libs/locomotive-scroll.min.js"></script>
    {{ super() }}
    
{% endblock %}