{% extends "templates/layout.njk" %}

{% set title = "Подуслуга" %}

{% block styles %}
    <link rel="stylesheet" href="css/libs/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/subservice-page.min.css">
{% endblock %}


{% from "pages-blocks/why-we.njk" import WhyWe %}
{% from "pages-blocks/macros/about.njk" import About %}
{% from "pages-blocks/macros/faq.njk" import Faq %}

{% block content %}
    <section class="hero">
        <nav class="hero__breadcrumbs breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="service-page.html" class="breadcrumbs__link">Медицинские услуги на дому</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Бригады для перевозки</a>
                    </li>
                </ol>
            </div>
        </nav>
        <img src="images/hero-subservice.png" alt="" class="hero__img">
        <div class="hero__container container">
            {# <div class="hero__breadcrumbs">Breadcrumbs</div> #}
            <div class="hero__content">
                <h1 class="hero__title">Бригады для перевозки</h1>
                <div class="hero__body">
                    <div class="hero__desc">Современный подход к оказанию круглосуточной экстренноймедицинской помощи пациентам соответствует единым медицинским алгоритмам, высокому профессионализму.</div>
                    <div class="hero__buttons">
                        <div class="hero__price button">
                            <span>от 3000 ₽</span>
                        </div>
                        <button class="hero__button button button--primary" type="button">
                            <span>Вызвать врача</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="desc section">
        <div class="container">
            <div class="desc__row">
                <div class="desc__info">
                    <div class="desc__info-title">Первозка больных в Москва</div>
                    <div class="desc__info-desc">Наша компания гарантирует быстрый выезд скорой медицинской помощи в любое время суток. Мы понимаем, что в экстренных ситуациях каждая секунда на счету, и наша цель — обеспечить вам необходимую помощь как можно скорее. Мы понимаем, что в экстренных ситуациях каждая секунда на счету, и наша цель — обеспечить вам необходимую помощь как можно скорее.</div>
                    <ul class="desc__info-list">
                        <li class="desc__info-item">Срочная подача скорой помощи</li>
                        <li class="desc__info-item">Полный комплекс выездных услуг</li>
                        <li class="desc__info-item">Доступная стоимость, Вызов от 3000 ₽</li>
                        <li class="desc__info-item">Опытные врачи разных специализаций</li>
                    </ul>
                </div>
                <div class="desc__img">
                    <img src="images/subservice-01.png" alt="">
                </div>
            </div>
            <div class="desc__row desc__row--reverse">
                <div class="desc__info">
                    <div class="desc__info-title">Как мы работаем:</div>
                    <div class="desc__info-desc">Наша компания гарантирует быстрый выезд скорой медицинской помощи в любое время суток. Мы понимаем, что в экстренных ситуациях каждая секунда на счету, и наша цель — обеспечить вам необходимую помощь как можно скорее. Мы понимаем, что в экстренных ситуациях каждая секунда на счету, и наша цель — обеспечить вам необходимую помощь как можно скорее.</div>
                    <ul class="desc__info-list">
                        <li class="desc__info-item">забор анализов</li>
                        <li class="desc__info-item">капельницы</li>
                        <li class="desc__info-item">скорая помощь</li>
                        <li class="desc__info-item">транспортировка</li>
                    </ul>
                </div>
                <div class="desc__img">
                    <img src="images/subservice-02.png" alt="">
                </div>
            </div>
        </div>
    </section>
    {{ WhyWe() }}
    {% include "pages-blocks/our-company.njk" %}
    {% include "pages-blocks/back-call.njk" %}
    <section class="content section section--multirow">
        <div class="container">
            <div class="content__column">
                <div class="content__block">
                    <h2>Скорая медицинская помощь</h2>
                    <p>
                        Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение существенных финансовых и административных условий. Задача организации, в особенности же дальнейшее развитие различных форм деятельности <span>играет важную роль в формировании</span> существенных финансовых и административных условий. Таким образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                    </p>
                    <p>
                        Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет <span>важную роль в формировании позиций</span>, занимаемых участниками в отношении поставленных задач.
                    </p>
                </div>
                <div class="content__block">
                    <h4>Виды оказываемой помощи:</h4>
                    <div>
                        <p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                    </div>
                    <ul>
                        <li>Срочная подача скорой помощи</li>
                        <li>полный комплекс выездных услуг</li>
                        <li>доступная стоимость, Вызов от 3000 ₽</li>
                        <li>Опытные врачи разных специализаций</li>
                    </ul>
                    <p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                    <img src="images/hero-service.png" alt="">
                </div>
                <div class="content__block">
                    <h4>Почему стоит обратиться к нам:</h4>
                    <p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                    <h5>Этапы оказания помощи:</h5>
                    <ol>
                        <li>Оставьте заявку на сайте или позвоните по номеру: 8 (976) 543 21 00 круглосуточно</li>
                        <li>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</li>
                        <li>Ожидаете бригаду скорой помощи, специалисты прибудут на адрес в течении 30 минут</li>
                        <li>По прибытию бригады, получаете профессиональную квалифиуированную помощь</li>
                    </ol>
                    <blockquote>
                        <p>
                            Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. По прибытию бригады, получаете профессиональную квалифиуированную помощь. По прибытию бригады, получаете профессиональную квалифиуированную помощь.
                        </p>
                        <footer>
                            <div class="author">
                                <div class="author__image">
                                    <img src="images/director.png" alt="">
                                </div>
                                <div class="author__name">Фёдоров Кирилл</div>
                                <div class="author__position">Генеральный директор «РЕСЕТ»</div>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <aside class="content__aside">
                <form action="#" method="POST" name="" class="content__form form">
                    <h5 class="form__title">Остались вопросы?<br><span>Оставьте заявку</span></h5>
                    <div class="form__control">
                        <input type="text" name="name" class="form__input form__input--required" placeholder="Ваше имя" autocomplete="off">
                    </div>
                    <div class="form__control">
                        <input type="tel" name="phone" class="form__input form__input--required" placeholder="+7 (999)-999-99-99" autocomplete="off">
                    </div>
                    <button class="form__submit button button--primary" type="submit">
                        <span>Задать вопросы</span>
                    </button>
                    <div class="form__agreement">Нажимая на кнопку «Заказать звонок» вы соглашаетесь c <a href="#">политикой конфиденциальности</a> сайта</div>
                </form>
            </aside>
        </div>
        {% include "pages-blocks/modules/help-how.njk" %}
    </section>
    {% include "pages-blocks/contact-us.njk" %}
    {{ Faq() }}
    {% include "pages-blocks/our-advantages.njk" %}
    {% include "pages-blocks/about-us.njk" %}
    {{ About() }}
    {% include "pages-blocks/call-us.njk" %}
{% endblock %}

{% block scripts %}
    <script src="js/libs/swiper-bundle.min.js"></script>
    <script src="js/libs/locomotive-scroll.min.js"></script>
    {{ super() }}
    
{% endblock %}