{% extends "templates/layout.njk" %}

{% set title = "Типовая" %}

{% block styles %}
    <link rel="stylesheet" href="css/typical-page.min.css">
{% endblock %}


{% block content %}
    <div class="page">
        <div class="page__nav"></div>

        <section class="content page__seciton">
            <div class="container">
                <div class="content__column">
                    <div class="content__block" id="one">
                        <h2>Правовая информация</h2>
                        <p>
                            Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение существенных финансовых и административных условий. Задача организации, в особенности же дальнейшее развитие различных форм деятельности <span>играет важную роль в формировании</span> существенных финансовых и административных условий. Таким образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        </p>
                        <p>
                            Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет <span>важную роль в формировании позиций</span>, занимаемых участниками в отношении поставленных задач.
                        </p>
                    </div>
                    <div class="content__block" id="two">
                        <h4>Виды оказываемой помощи:</h4>
                        <div>
                            <p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                        </div>
                        <ul>
                            <li>Срочная подача скорой помощи</li>
                            <li>полный комплекс выездных услуг</li>
                            <li>доступная стоимость, Вызов от 3000 ₽</li>
                            <li>Опытные врачи разных специализаций</li>
                        </ul>
                        <p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                        <img src="images/hero-service.png" alt="">
                    </div>
                    <div class="content__block" id="three">
                        <h4>Почему стоит обратиться к нам:</h4>
                        <p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
                        <h5>Этапы оказания помощи:</h5>
                        <ol>
                            <li>Оставьте заявку на сайте или позвоните по номеру: 8 (976) 543 21 00 круглосуточно</li>
                            <li>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.</li>
                            <li>Ожидаете бригаду скорой помощи, специалисты прибудут на адрес в течении 30 минут</li>
                            <li>По прибытию бригады, получаете профессиональную квалифиуированную помощь</li>
                        </ol>
                        <blockquote>
                            <p>
                                Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения модели развития. С другой стороны консультация с широким активом играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. По прибытию бригады, получаете профессиональную квалифиуированную помощь. По прибытию бригады, получаете профессиональную квалифиуированную помощь.
                            </p>
                            <footer>
                                <div class="author">
                                    <div class="author__image">
                                        <img src="images/director.png" alt="">
                                    </div>
                                    <div class="author__name">Фёдоров Кирилл</div>
                                    <div class="author__position">Генеральный директор «РЕСЕТ»</div>
                                </div>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <aside class="content__aside">
                    <nav class="content__nav nav">
                        <button class="nav__head" type="button">
                            <span>Правовая информация</span>
                            <svg><use xlink:href="#arrow"></use></svg>
                        </button>
                        <ul class="nav__menu">
                            <li class="nav__menu-item nav__menu-item--active">
                                <a href="#one" class="nav__menu-link">Правовая информация</a>
                            </li>
                            <li class="nav__menu-item">
                                <a href="#two" class="nav__menu-link">Информация для пациентов</a>
                            </li>
                            <li class="nav__menu-item">
                                <a href="#three" class="nav__menu-link">Информация для специалистов</a>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>
        </section>
        {% include "pages-blocks/contact-us.njk" %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="js/libs/locomotive-scroll.min.js"></script>
    {{ super() }}
{% endblock %}