.contact-us {  
    // --padding-y: 10rem;
    // background: linear-gradient(180deg, #0d1b1f 0%, #111d26 100%);
    // color: $white;
    // padding: var(--padding-y, 10rem) 0;
    // @include adaptive-value(--padding-y, 70, 160, 768, $container-width);
    .section__ellipse {
        &--bottom-left {
            rotate: -50deg;
        }
    }
    .order-call {
        background-color: rgba($color: #0D191F, $alpha: 0.85);
        &__image {
            right: rem(143);
            @include adaptive-value(right, 85, 143, 1280, $container-width);
            bottom: 0;
            width: calc(456 / 1520 * 100%);
        }

    }
    .order-call__image {
    }
    @include tablet {
        .order-call__image {
            align-self: center;
            width: 60%;
            max-width: rem(380);
        }
    }
    @include phone {
        .order-call__image {
            align-self: center;
            width: calc(295 / 340 * 100%);
            max-width: rem(380);
        }
    }
}

