.contact-us {  
    .section__ellipse {
        height: calc(615 / 775 * 100%);
        &--bottom-left {
            rotate: -50deg;
        }
    }
    .order-call {
        background-color: rgba($color: #0D191F, $alpha: 0.85);
        &__image {
            right: rem(143);
            @include adaptive-value(right, 85, 143, 1280, $container-width);
            bottom: 0;
            width: calc(456 / 1520 * 100%);
        }

    }
    .order-call__image {
    }
    @include tablet {
        .order-call__image {
            align-self: center;
            width: 60%;
            max-width: rem(380);
        }
    }
    @include phone {
        .order-call__image {
            align-self: center;
            width: calc(295 / 340 * 100%);
            max-width: rem(380);
        }
    }
}

