.faq {
    display: flex;
    flex-direction: column;
    gap: rem(160);
    @include adaptive-value(gap, 70, 160, 576, $container-width);
    &__content {
        .container {
            display: grid;
            // grid-template-columns: 1fr calc(880 / 1520 * 100%);
            // grid-template-columns: rem(505) 1fr;
            grid-template-columns: min(45%, rem(505)) 1fr ;
            grid-template-rows: auto auto 1fr;
            // column-gap: calc(138 / 1520  * 100%);
            // column-gap: rem(138);
            // @include adaptive-value(column-gap, 60, 138, 992, $container-width);
            column-gap: rem(60);
            row-gap: rem(40);
        }
    }

    &__title, &__desc, &__form {
        grid-column: 1 / 2;
    }

    &__title {
        // &:not(:last-child) {
        //     margin-bottom: rem(40);
        // }
    }

    &__desc {
    }

    &__make-question {
        background-color: #F7F1F1;
        border-radius: rem(55);
        display: flex;
        align-items: center;
        gap: rem(16);
        align-self: self-end;
        // margin-top: calc(125 / 505 * 100%);
        padding: rem(10) rem(10) rem(10) rem(35);
        div {
            color: $grey;
            @include txt_medium;
            flex-grow: 1;
        }
        .button {
            flex-shrink: 0;
            align-self: flex-end;
            justify-content: center;
        }
    }

    &__questions {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }

    &__question {
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    &__about {
    }

    &__about-text {
        p {
            @include txt_regular;
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
        // max-height: calc(rem(20) * 6 + rem(20));
        // overflow: hidden;
    }
    &__about-more {
        color: $primary-color;
        display: flex;
        align-items: center;
        gap: rem(8);
        @include txt_medium;
        &:not(:first-child) {
            margin-top: rem(35);
        }
        svg {
            width: rem(8);
            height: rem(8);
            transform: rotate(90deg);
        }
    }

    @media screen and (min-width: 577px) and (max-width: 1280px) {
        &__question {
            .accordion {
                padding: rem(20) rem(25);
            }
            .accordion__title {
                font-size: rem(18);
            }
        }
    }
    @include tablet {
        &__content {
            .container {
                display: grid;
                grid-template-columns: 1fr;
                gap: rem(30);
            }
        }
        &__desc, &__questions {
            max-width: rem(640);
        }
        &__questions {
            margin-top: rem(10);
            grid-column: 1 / 2;
            grid-row: auto
        }
        &__make-question {
            max-width: rem(520);
            order: 1;
        }
    }
    @include phone {
        &__make-question {
            border-radius: rem(10);
            flex-direction: column;
            gap: rem(20);
            align-items: stretch;
            padding: rem(20);
        }
        &__about-text {
            p {
                @include txt_regular;
                &:not(:last-child) {
                    margin-bottom: rem(10);
                }
            }
        }
        &__about-more {
            &:not(:first-child) {
                margin-top: rem(20);
            }
        }
    }
    @media screen and (max-width: 480px) {
        &__make-question {
            .button {
                align-self: stretch;
            }
        }
    }
}

