.hero {
    --padding-y: 5rem;
    padding: var(--padding-y, 5rem) 0;
    position: relative;
    &::before {
        background: linear-gradient(180deg, rgba(13, 27, 31, 0.7) 0%, rgba(17, 29, 38, 0.7) 100%);
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__breadcrumbs {
        color: $white;
        position: absolute;
        top: rem(25);
        left: 0;
        max-width: 100%;
        overflow: hidden;
        z-index: 2;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: rem(615);
        @include adaptive-value(height, 570, 615, 768, $container-width);
    }

    &__tag {
        display: flex;
        align-items: center;
        gap: rem(8);
        &:first-child {
            margin-bottom: auto;
        }
        span {
            color: #F7F1F1;
            font-size: rem(13);
            font-weight: 600;
            line-height: calc(20 / 13);
            letter-spacing: 0.04em;
            text-transform: uppercase;
        }
    }
    &__tag-icon {
        display: flex;
        align-items: center;
        svg {
            color: $primary-color;
            width: rem(6);
            height: rem(7);
        }
    }

    &__title {
        color: white;
        font-size: rem(58);
        @include adaptive-value(font-size, 32, 58, 768, $container-width);
        font-weight: 500;
        letter-spacing: -0.03em;
        line-height: calc(55 / 58);
        width: 80%;
        max-width: rem(730);
        span {
            opacity: 0.45;
        }
        &:not(:last-child) {
            margin-bottom: calc(45 / 58 * 1em);
        }
    }

    &__body {
        border-top: $border;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(60);
        padding: rem(25) 0 0;
    }

    &__desc {
        color: $white;
        @include txt_regular;
        max-width: rem(490);
        opacity: 0.7;
    }

    &__buttons {
        display: flex;
        flex-shrink: 0;
        gap: rem(15) rem(10);
    }

    &__price {
        border: rem(1) dashed rgba($color: $white, $alpha: 0.28);
        color: $white;
    }
    @include desktop {
        --padding-y: 3.75rem;
    }
    @include gap {
        --padding-y: 2.5rem;
        &__tag {
            gap: rem(6);
            }
        &__tag-icon {
            svg {
                color: $white;
                &:last-child {
                    fill-opacity: 0.45;
                }
            }
        }
        &__title {
            line-height: calc(35 / 32 * 100%);
        }
        &__body {
            flex-direction: column;
            align-items: flex-start;
            gap: rem(25);
        }
        &__desc {

        }
    }

    @include phone {
        padding-top: 1.25rem;
        &__breadcrumbs {
            top: rem(20);
        }
        &__title, &__desc {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        &__tag {
            span {
                font-size: rem(12);
            }
        }
        &__title {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
        &__body {
            border-top: none;
            padding-top: 0;
        }
        &__buttons {
            border-top: $border;
            padding: rem(30) 0 0;
            flex-direction: column;
            align-self: stretch;
            & > * {
                justify-content: center;
                padding-top: rem(17);
                padding-bottom: rem(17);
                span {
                    font-size: rem(14);
                }
            }
        }
    }
}