<aside class="back-call section section--dark">
    <div class="section__ellipse section__ellipse--bottom-right"></div>
    <div class="section__ellipse section__ellipse--bottom-left"></div>
    <div class="container">
        {% include "./modules/order-call.njk" %}
    </div>
</aside>