<section class="call-us section">
    <div class="call-us__body section__body">
        <div class="container">
            <h2 class="call-us__title section__title">Получите полный комплекс услуг платной медицинской <span>скорой помощи в Москве</span></h2>
            <div class="call-us__info">
                <a href="tel:89765432100" class="call-us__phone">
                    <svg><use xlink:href="#phone"></use></svg>
                </a>
                <div class="call-us__info-text">Пишите, звоните по номеру: <span class="call-us__info-phone">8 (976) 543 21 00</span> <span class="_aaccent">круглосуточно</span></div>
            </div>
            <ul class="call-us__services">
                <li class="call-us__service">Выезд в течении 30&nbsp;минут</li>
                <li class="call-us__service">Стоимость вызова от&nbsp;3000&nbsp;₽</li>
                <li class="call-us__service">Стоимость вызова от&nbsp;3000&nbsp;₽</li>
                <li class="call-us__service">В бригаде 3 опытных специалиста</li>
            </ul>
            <form action="#" method="POST" name="" class="call-us__form form">
                <h4 class="form__title">Оставьте заявку для консультации</h4>
                <div class="form__control">
                    <input type="text" name="name" class="form__input form__input--required" placeholder="Ваше имя" autocomplete="off">
                </div>
                <div class="form__control">
                    <input type="tel" name="phone" class="form__input form__input--required" placeholder="+7 (999)-999-99-99" autocomplete="off">
                </div>
                <button class="form__submit button button--primary">
                    <span>Оставить заявку</span>
                </button>
                <div class="form__agreement">Нажимая на кнопку «Оставить заявку» вы соглашаетесь с политикой конфиденциальности сайта</div>
            </form>
        </div>
    </div>
</section>