{% macro Question(question) %}
    <div class="faq__question accordion">
        <div class="accordion__header">
            <div class="accordion__title">{{ question }}</div>
            <button class="accordion__button" type="button"></button>
        </div>
        <div class="accordion__body">
            <div class="accordion__text">
                <p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм. Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер.</p>
            </div>
        </div>
    </div>
{% endmacro %}

<section class="faq section section--light section--multirow">
    <article class="faq__content">
        <div class="container">
            <h2 class="faq__title section__title">Популярные вопросы <span>и ответы</span></h2>
            <div class="faq__desc">
                <p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p>
            </div>
            <div class="faq__make-question">
                <div>Не нашли нужного ответа? Задайте вопрос специалисту!</div>
                <button class="button button--primary" type="button">
                    <span>Задать вопрос</span>
                </button>
            </div>
            <div class="faq__questions">
                {% set questions = [
                    "Что может платная скорая помощь?",
                    "Чем отличается платная скорая помощь от бесплатной?",
                    "Сколько стоят услуги платной скорой помощи?",
                    "В каком случае вызов скорой платный?",
                    "Что может платная скорая помощь?"
                ] %}
                {% for question in questions %}
                    {{ Question(question) }}
                {% endfor %}
            </div>
        </div>
    </article>
    <article class="faq__about">
        <div class="container">
            <div class="section__header">
                <h2 class="section__title">Медицинская <span>помощь в Москве</span></h2>
            </div>
            <div class="section__body">
                <div class="faq__about-article article">
                    <div class="article__text text-block">
                        <p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм. Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер.</p>
                        <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер.</p>
                    </div>
                    <button class="article__more" type="button">
                        <span>Читать полностью</span>
                        <svg><use xlink:href="#arrow-link"></use></svg>
                    </button>
                
                </div>
            </div>
        </div>
    </article>
</section>