{% macro Step(step) %}
    <div class="help__how-step step swiper-slide">
        <span class="step__number">{{ step.num }}</span>
        <div class="step__name">{{ step.name }}</div>
        <div class="step__desc">{{ step.desc }}</div>
    </div>
{% endmacro %}

<section class="help section section--multirow">
    <article class="help__how">
        <div class="section__header">
            <div class="container">
                <h2 class="section__title">Как заказать<br><span>скорую помощь</span></h2>
            </div>
        </div>
        <div class="section__body">
            <div class="container">
                <div class="help__how-steps swiper">
                    <div class="swiper-wrapper">
                        <div class="help__how-step step swiper-slide">
                            <span class="step__number">1</span>
                            <div class="step__name">Заявка</div>
                            <div class="step__desc">Оставьте заявку на сайте или позвоните по номеру: <a href="tel:89765432100">8 (976) 543 21 00</a> круглосуточно</div>
                        </div>
                            <div class="help__how-step step swiper-slide">
                            <span class="step__number">2</span>
                            <div class="step__name">Опрос</div>
                            <div class="step__desc">Описываете диспетчеру ситуацию. Называете: пол, возраст, причину, симптомы и адрес</div>
                        </div>
                            <div class="help__how-step step swiper-slide">
                            <span class="step__number">3</span>
                            <div class="step__name">Выезд</div>
                            <div class="step__desc">Ожидаете бригаду скорой помощи, специалисты прибудут на адрес в течении 30 минут</div>
                        </div>
                            <div class="help__how-step step swiper-slide">
                            <span class="step__number">4</span>
                            <div class="step__name">Помощь</div>
                            <div class="step__desc">По прибытию бригады, получаете профессиональную квалифиуированную помощь</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="help__when">
        <div class="section__body">
            <div class="container">
                <h2 class="help__when-title section__title">В каких ситуациях требуется вызов скорой <span>медицинской помощи</span></h2>
                <div class="help__when-desc">Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.Мы понимаем, что в экстренных ситуациях каждая секунда на счету, и наша цель — обеспечить вам необходимую помощь как можно скорее.</div>
                <div class="help__when-cases">
                    <div class="help__when-case">
                        <span>подозрение, что жизни человека что-то угрожает</span>
                    </div>
                    <div class="help__when-case">
                        <span>вы нашли человека без сознания</span>
                    </div>
                    <div class="help__when-case">
                        <span>внезапно появились какие-либо нарушения дыхания</span>
                    </div>
                    <div class="help__when-case">
                        <a href="#">
                            <span>Показать полный список</span>
                            <svg><use xlink:href="#arrow-link"></use></svg>
                        </a>
                    </div>
                </div>
                <div class="help__when-image">
                    <img src="images/help-when.png" alt="">
                </div>
            </div>
        </div>
    </article>
</section>