<section class="our-advantages section">
    <div class="container">
        <div class="our-advantages__about">
            <div class="our-advantages__about-col">
                <h2 class="our-advantages__about-title section__title">Особое внимание <span>каждому клиенту<span></h2>
                <div class="our-advantages__about-desc">
                    <p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.</p>
                    <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм</p>
                </div>
                <div class="our-advantages__about-video video">
                    <div class="video__play-button">
                        <svg><use xlink:href="#play"></use></svg>
                    </div>
                </div>
                <div class="our-advantages__about-swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide our-advantages__about-stat stat">
                            <div class="stat__title">
                                <span class="stat__value">1200</span>
                            </div>
                            <div class="stat__desc">Общее число вызовов за все время работы</div>
                        </div>
                        <div class="swiper-slide our-advantages__about-stat stat">
                            <div class="stat__title">
                                <span class="stat__value">12</span>
                                <span class="stat__unit">лет</span>
                            </div>
                            <div class="stat__desc">Средний стаж работы наших специалистов</div>
                        </div>
                        <div class="swiper-slide our-advantages__about-stat stat">
                            <div class="stat__title">
                                <span class="stat__value">35</span>
                                <span class="stat__unit"> минут</span>
                            </div>
                            <div class="stat__desc">Среднее время приезда нашей скорой</div>
                        </div>
                        <div class="swiper-slide our-advantages__about-stat stat">
                            <div class="stat__title">
                                <span class="stat__value">10</span>
                                <span class="stat__unit"> лет</span>
                            </div>
                            <div class="stat__desc">Опыта работы в медицинской сфере</div>
                        </div>
                        <div class="swiper-slide our-advantages__about-stat stat">
                            <div class="stat__title">
                                <span class="stat__value">120</span>
                            </div>
                            <div class="stat__desc">Вызовов обрабатывает наша компания ежедневно</div>
                        </div>
                    </div>
                </div>
                <div class="our-advantages__about-company">
                    <button class="our-advantages__about-more button button--primary" type="button">
                        <span>Подробнее о компании</span>
                    </button>
                    <a href="/" class="our-advantages__about-logo logo">
                        <img class="logo__icon" src="images/logo-icon.svg" alt="" class="logo__icon">
                        <img class="logo__title" src="images/logo-title.svg" alt="">
                        <img class="logo__subtitle" src="images/logo-subtitle.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="our-advantages__about-col">
                <div class="our-advantages__about-stats">
                    <div class="our-advantages__about-stats-wrapper our-advantages__about-stats-wrapper--top">
                        <div class="our-advantages__about-stat stat">
                            <div class="stat__title">
                                <span class="stat__value">1200</span>
                            </div>
                            <div class="stat__desc">Общее число вызовов за все время работы</div>
                        </div>
                        <div class="our-advantages__about-stat stat">
                            <div class="stat__title">
                                <span class="stat__value">12</span>
                                <span class="stat__unit"> лет</span>
                            </div>
                            <div class="stat__desc">Средний стаж работы наших специалистов</div>
                        </div>
                    </div>
                    <div class="our-advantages__about-stat stat">
                        <div class="stat__title">
                            <span class="stat__value">35</span>
                            <span class="stat__unit"> минут</span>
                        </div>
                        <div class="stat__desc">Среднее время приезда нашей скорой</div>
                    </div>
                    <div class="our-advantages__about-stats-wrapper our-advantages__about-stats-wrapper--bottom">
                        <div class="our-advantages__about-stat stat">
                            <div class="stat__title">
                                <span class="stat__value">10</span>
                                <span class="stat__unit"> лет</span>
                            </div>
                            <div class="stat__desc">Опыта работы в медицинской сфере</div>
                        </div>
                        <div class="our-advantages__about-stat stat">
                            <div class="stat__title">
                                <span class="stat__value">120</span>
                            </div>
                            <div class="stat__desc">Вызовов обрабатывает наша компания ежедневно</div>
                        </div>
                    </div>
                    <div class="our-advantages__about-video video">
                        <div class="video__play-button">
                            <svg><use xlink:href="#play"></use></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-advantages__blockquote blockquote">
            <div class="blockquote__tag">Миссия компании</div>
            <div class="blockquote__quote">Мы оснащены последними медицинскими технологиями и оборудованием, что позволяет нам <span>проводить широкий спектр медицинских процедур прямо на месте</span></div>
            <div class="blockquote__author">
                <div class="blockquote__author-avatar">
                    <img src="images/director.png" alt="director">
                </div>
                <div class="blockquote__author-name">Фёдоров Кирилл</div>
                <div class="blockquote__author-position">Генеральный директор «РЕСЕТ»</div>
            </div>
        </div>
    </div>
</section>