{% macro Service(service, index) %}
    <a href="#" class="services__service-item service swiper-slide">
        <span class="service__icon">
            <svg>
                <use xlink:href="#service-{{ service.icon }}"></use>
            </svg>
        </span>
        <span class="service__number">/0{{ index }}</span>
        <div class="service__name">{{ service.name }}</div>
        <div class="service__more">
            <span>Узнать подробнее</span>
            <svg>
                <use xlink:href="#arrow-link"></use>
            </svg>
        </div>
    </a>
{% endmacro %}

<section class="services section">
    <div class="section__header">
        <div class="container">
            <h2 class="section__title">Комплекс услуг платной<br><span>скорой медицинской помощи</span></h2>
        </div>
    </div>
    <div class="section__body services__body">
        <div class="container">
            <div class="services__swiper swiper">
                <div class="services__list swiper-wrapper">
                    {% set list = [
                        { name: "Забор анализов", icon: "01" },
                        { name: "Скорая медецинская помощь", icon: "02" },
                        { name: "Капельницы и уколы", icon: "03" },
                        { name: "Госпитализация", icon: "04" },
                        { name: "Детская неотложенная помощь", icon: "05" },
                        { name: "Транспортировка", icon: "06" },
                        { name: "Дежурство на мероприятиях", icon: "07" },
                        { name: "Забор анализов", icon: "01" }
                    ] %}
                    {% for item in list %}
                        {{ Service(item, loop.index) }}
                    {% endfor %}
                    .
                </div>
            </div>
        </div>
    </div>
</section>


{# <section class="service section">
    <div class="section__header">
        <div class="container">
            <h2 class="section__title"></h2>
        </div>
    </div>
    <div class="section__body">
        <div class="container"></div>
    </div>
</section> #}