{% macro Advantage(name, index) %}
    <article class="why-we__advantage-item advantage">
        <span class="advantage__icon">
            <svg>
                <use xlink:href="#advantage-0{{ index }}"></use>
            </svg>
        </span>
        <div class="advantage__name">{{ name }}</div>
    </article>
{% endmacro %}

{% set content %}
    <div class="why-we__container container">
        <h2 class="why-we__title section__title">Почему выбирают услуги <span>нашей скорой помощи</span></h2>
        <div class="why-we__desc">
            <div class="why-we__desc-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="20" viewBox="0 0 34 20" fill="none">
                    <path d="M10 19.9999V13.3333" stroke="white" stroke-width="2"/>
                    <path d="M-0.000162363 10L6.6665 10" stroke="white" stroke-width="2"/>
                    <path d="M10 6.66667V0" stroke="white" stroke-width="2"/>
                    <path d="M13.3333 10L20 10" stroke="white" stroke-width="2"/>
                    <path d="M24 19.9999V13.3333" stroke="white" stroke-opacity="0.25" stroke-width="2"/>
                    <path d="M24 6.66667V0" stroke="white" stroke-opacity="0.25" stroke-width="2"/>
                    <path d="M27.3333 10L34 10" stroke="white" stroke-opacity="0.25" stroke-width="2"/>
                </svg>
            </div>
            <div>
                <p>Наша компания гарантирует быстрый выезд скорой медицинской помощи в любое время суток. Мы понимаем, что в экстренных ситуациях каждая секунда на счету, и наша цель — обеспечить вам необходимую помощь как можно скорее.</p>
            </div>
        </div>
        <div class="why-we__advantages">
            {% set advantages = [
                "Опытные врачи разных специализаций",
                "10 новых автомобилей с современным оборудованием",
                "Срочная подача скорой помощи",
                "Опытные врачи разных специализаций",
                "Полезный комплекс выездных услуг",
                "Доступная стоимость, вызов от 3000 ₽"
            ] %}
            {% for advantage in advantages %}
                {{ Advantage(advantage, loop.index) }}
            {% endfor %}
        </div>
    </div>
{% endset %}


{% macro WhyWe(subsection = false) %}
    {% if subsection %}
        <section class="why-we section section--dark section--multirow">
            <div class="section__ellipse section__ellipse--bottom-right"></div>
            <div class="section__ellipse section__ellipse--bottom-left"></div>
            <article class="why-we__our-advantages">
                <div class="section__ellipse section__ellipse--top-right"></div>
                {{ content | safe}}
            </article>
            <aside class="why-we__aside">
                <div class="container">
                    {% include "./modules/order-call.njk" %}
                </div>
            </aside>
        </section>
    {% else %}
        <section class="why-we section section--dark">
            <div class="section__ellipse section__ellipse--top-right"></div>
                {{ content | safe}}
        </section>
    {% endif %}
{% endmacro %}