{% set content %}
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Медицинская <span>помощь в Москве</span></h2>
        </div>
        <div class="section__body">
            <div class="about__article article">
                <div class="article__text text-block">
                    <p>Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм. Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер.</p>
                    <p>Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна. Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер.</p>
                </div>
                <button class="article__more" type="button">
                    <span>Читать полностью</span>
                    <svg><use xlink:href="#arrow-link"></use></svg>
                </button>
            
            </div>
        </div>
    </div>
{% endset %}

{% macro About(className = "") %}

    {% if className != "" %}
        <article class="{{ className + '__about' if className}} about">
            {{ content | safe }}
        </article>
    {% else %}
        <section class="article section section--light">
            {{ content | safe }}
        </section>
    {% endif %}
{% endmacro %}

