.article {
    &__text {
        max-height: calc(rem(20) * 6 + rem(20));
        overflow: hidden;
    }
    &__more {
        display: none;
        color: $primary-color;
        align-items: center;
        gap: rem(8);
        @include txt_medium;
        &:not(:first-child) {
            margin-top: rem(35);
        }
        svg {
            width: rem(8);
            height: rem(8);
            transform: rotate(90deg);
        }
    }
    &--hide {
        .article__more {
            display: flex;

        }
    }
    &--open {
        .article__text {
            max-height: none;
        }
        .article__more {
            svg {
                transform: rotate(0deg);
            }
        }
    }
    @include phone {
        &__text {
            max-height: calc(rem(20) * 10);
        }
        &__more {
            &:not(:first-child) {
                margin-top: rem(20);
            }
        }
    }
}