.breadcrumbs {
    &__list {
        display: flex;
        gap: rem(8);
    }
    &__item {
        display: flex;
        align-items: center;
        opacity: 0.55;
        &:last-child {
            opacity: 1;
            .breadcrumbs__link {
                cursor: auto;
                pointer-events: none;
                opacity: 1;
            }
        }
        &:not(:first-child) {
            &:before {
                content: ">>";
                font-family: "Inter", sans-serif;
                font-size: rem(8);
                display: inline-block;
                margin-right: rem(8);
            }
        }
    }
    &__link {
        font-size: rem(12);
        font-weight: 500;
        line-height: calc(20 / 12);
        letter-spacing: 0.04em;
        white-space: nowrap;
        text-transform: uppercase;
    }
}