.form {
    &__control {
        position: relative;
        &--error {
            .form__input {
                outline: rem(2) solid $primary-color;
            }
        }
    }
    &__input { 
        background-color: rgba($color: $white, $alpha: 0.05);
        border-radius: rem(35);
        padding: rem(22) rem(30);
        color: rgba($color: $white, $alpha: 0.55);
        @include txt_medium;
        width: 100%;
        &::placeholder {
            color: inherit;
        }
    }
    &__textarea {
    }
    &__file {
        align-self: flex-start;
        max-width: 100%;
        &_attached &-field {
            display: none;
        }
        &_attached &-doc {
            display: flex;
        }
    }
    &__file-input {
        appearance: none;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__file-label,
    &__file-doc {
        border: rem(1) solid #E8E8E8;
        border-radius: rem(35);
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: rem(22) rem(30);
        .text {
            @include txt_medium;
        }
    }
    &__file-label {
        cursor: pointer;
        display: flex;
        transition: background-color 0.2s ease 0s;
        .icon {
            width: rem(10);
            height: rem(10);
        }
    }
    &__file-doc {
        cursor: auto;
        display: none;
        align-items: center;
        gap: 0.5rem;
        .text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        button {
            flex-shrink: 0;
            position: relative;
            svg {
                width: rem(14);
                height: rem(14);
            }
        }
    }
    &__submit {
        cursor: pointer;
        justify-content: center;
    }
    &__agreement {
        font-size: rem(12);
        font-weight: 400;
        line-height: calc(20 / 12);
        opacity: 0.5;
        a {
            @include ishover {
                text-decoration: underline;
            }
        }
    }
    @include phone {
        &__input {
            padding: rem(18) rem(22);
        }
        &__agreement {
            line-height: 1rem;
        }
    }
}