.video {
    background-image: url(../images/video-poster.png);
    background-size: cover;
    background-position: center;
    position: relative;
    &__play-button {
        background-color: $white;
        border-radius: 50%;
        color: $primary-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(65);
        height: rem(65);
        transform: translate(-50%, -50%);
        svg {
            width: rem(18);
            height: rem(18);
            transform: translate(8%, 0);
        }
    }
    @include phone {
        width: rem(55);
        height: rem(55);
        svg {
            width: rem(14);
            height: rem(14);
        }
    }
}