<article class="help-when">
    <div class="section__body">
        <div class="container">
            <h2 class="help-when__title section__title">В каких ситуациях требуется вызов скорой <span>медицинской помощи</span></h2>
            <div class="help-when__desc">Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но графомания возможна.Мы понимаем, что в экстренных ситуациях каждая секунда на счету, и наша цель — обеспечить вам необходимую помощь как можно скорее.</div>
            <div class="help-when__cases">
                <div class="help-when__case">
                    <span>подозрение, что жизни человека что-то угрожает</span>
                </div>
                <div class="help-when__case">
                    <span>вы нашли человека без сознания</span>
                </div>
                <div class="help-when__case">
                    <span>внезапно появились какие-либо нарушения дыхания</span>
                </div>
                <div class="help-when__case">
                    <a href="#">
                        <span>Показать полный список</span>
                        <svg><use xlink:href="#arrow-link"></use></svg>
                    </a>
                </div>
            </div>
            <div class="help-when__image">
                <img src="images/help-when.png" alt="">
            </div>
        </div>
    </div>
</article>