<article class="help-how">
    <div class="section__header">
        <div class="container">
            <h2 class="section__title">Как заказать<br><span>скорую помощь</span></h2>
        </div>
    </div>
    <div class="section__body">
        <div class="container">
            <div class="help-how__steps swiper">
                <div class="swiper-wrapper">
                    <div class="help-how__step step swiper-slide">
                        <span class="step__number">1</span>
                        <div class="step__name">Заявка</div>
                        <div class="step__desc">Оставьте заявку на сайте или позвоните по номеру: <a href="tel:89765432100">8 (976) 543 21 00</a> круглосуточно</div>
                    </div>
                        <div class="help-how__step step swiper-slide">
                        <span class="step__number">2</span>
                        <div class="step__name">Опрос</div>
                        <div class="step__desc">Описываете диспетчеру ситуацию. Называете: пол, возраст, причину, симптомы и адрес</div>
                    </div>
                        <div class="help-how__step step swiper-slide">
                        <span class="step__number">3</span>
                        <div class="step__name">Выезд</div>
                        <div class="step__desc">Ожидаете бригаду скорой помощи, специалисты прибудут на адрес в течении 30 минут</div>
                    </div>
                        <div class="help-how__step step swiper-slide">
                        <span class="step__number">4</span>
                        <div class="step__name">Помощь</div>
                        <div class="step__desc">По прибытию бригады, получаете профессиональную квалифиуированную помощь</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>