:root {
    // --init-width: 1920;
    // --init-width_units: calc(var(--init-width) * 1px);
    // @media screen and (min-width: 1920px) {
    //     --screen-diff: calc((100vw - var(--init-width_units))/var(--init-width));
    //     --font-size: calc(16px + 16 * var(--screen-diff));
    // }
}

// @function calc-between-width($width-start, $value-start, $width-end, $value-end)
//     @return calc(#{$value-start} * 1px + (#{$value-end} - #{$value-start}) * (100vw - #{$width-start} * 1px) / (#{$width-end} - #{$width-start}))

// calc-between-width(1600, 16, 1920, 19.2)

// .container {
//     background: rgba(0,0,0,0.8);
//     backdrop-filter: saturate(180%) blur(10px);
// }

// body {
//     // font grows 1px for every 100px of viewport width
//     font-size: calc(16px + 1vw);
//     // leading grows along with font,
//     // with an additional 0.1em + 0.5px per 100px of the viewport
//     line-height: calc(1.1em + 0.5vw);
// }


body {
    background-color: #F5F5F5;
    color: $text-color;
    font-family: "Inter", "sans-serif";
    &._lock {
        // height: 100%;
        overflow: hidden;
    }
}


.container {
    --padding-x: 5rem;
    margin: 0 auto;
    padding: 0 var(--padding-x, rem(80));
    @include adaptive-value(--padding-x, 20, 80, 992, $container-width);
    width: 100%;
    max-width: rem($container-width);
}

.section {
    --padding-y: 10rem;
    padding: var(--padding-y, 10rem) 0;
    @include adaptive-value(--padding-y, 70, 160, 768, $container-width);
    &__header {
        &:not(:last-child) {
            margin-bottom: rem(55);
        }
    }
    &__title {
        font-size: rem(58);
        @include adaptive-value(font-size, 32, 58, 768, $container-width);
        font-weight: 500;
        line-height: calc(60 / 58);
        letter-spacing: -0.03em;
        max-width: rem(826);
        span {
            color: $grey
        }
    }
    &--multirow {
        display: flex;
        flex-direction: column;
        gap: rem(160);
        @include adaptive-value(gap, 70, 160, 576, $container-width);
    }
    &--light {
        background-color: $white;
    }
    &--dark {
        background: linear-gradient(180deg, #0d1b1f 0%, #111d26 100%);
        color: $white;
        position: relative;
        overflow: hidden;
        & > :not(.section__ellipse) {
            position: relative;
            z-index: 2;
        }
        .section__title {
            span {
                opacity: 0.45;
            }
        }
        .section__ellipse {
            pointer-events: none;
            position: absolute;
            z-index: 1;
            border-radius: 100%;
            filter: blur(420px);
            background: hsl(0deg 0% 100% / 30%);
            &--top-right {
                fill: rgba(6, 145, 175, 0.1);
                left: calc(784 / 1680 * 100%);
            }
            &--bottom-right {
                fill: rgba(255, 255, 255, 0.1); 
                rotate: 31deg;
            }
            &--bottom-left {
                fill: rgba(6, 145, 175, 0.1);
                rotate: 7deg;
                width: calc(2180 / 1680 * 100%);
                aspect-ratio: calc(2180 / 615);
                max-width: rem(2180);
                max-height: rem(615);
                rotate: 7deg;
            }
            &--top-right, &--bottom-right {
                width: calc(1970 / 1680 * 100%);
                aspect-ratio: calc(1970 / 615);
                max-width: rem(1970);
                max-height: rem(615);
                rotate: 31deg;
            }
        }
    }
    @include gap {
        &__header {
            &:not(:last-child) {
                margin-bottom: rem(25);
            }
        }
    }
    @include phone {
        &--dark {
            .section__ellipse {
                aspect-ratio: calc(1154 / 360);
                width: calc(1154 / 380 * 100%);
            }
        }
    }
}

.page {
    padding-top: rem(25);
    &__nav {
        margin: 0 0 rem(60);
    }
    &__section {
        padding: 0 0 rem(160);
        @include adaptive-value(padding-bottom, 70, 160, 576, $container-width);
        .section__body {
            .container {
                position: relative;
                &::before {
                    border: rem(1) solid #D8E2E5;
                    border-bottom: none;
                    border-top-left-radius: rem(25);
                    border-top-right-radius: rem(25);
                    content: "";
                    display: block;
                    margin: 0 0 rem(25);
                    height: rem(15);
                }
            }
        }
    }
    @include phone {
        padding-top: rem(20);
        &__nav {
            margin-bottom: rem(40);
        }
        &__section {
            .section__body {
                .container {
                    &::before {
                        margin-bottom: rem(15);
                        height: rem(10);
                    }
                }
            }
        }
    }
}


.swiper-controls {
    display: flex;
    justify-content: center;
    gap: rem(10);
    .swiper-button-prev,
    .swiper-button-next {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        margin: 0;
        width: rem(65);
        height: rem(65);
        transition: background-color 0.2s ease 0s;
        &::after {
            content: none
        }
        svg {
            width: rem(8);
            height: rem(13);
        }
    }
}

.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    padding: 0 rem(20);
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.swiper-pagination-bullet {
    background-color: $white;
    border-radius: rem(40);
    flex-basis: rem(60);
    width: auto;
    height: 4px;
    opacity: 0.25;
    @include phone {
        flex-basis: rem(40);
        height: rem(2);
    }
}

.swiper-pagination-bullet-active {
    background-color: $white;
    opacity: 1;
}

.text-block {
    p {
        @include txt_regular;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
    @include phone {
        p {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

}

._aaccent {
    &--grey {
        color: $grey;
    }
    &--transparent {
        opacity: 0.45;
    }
}

.cookies {
    background-color: $white;
    border-top-left-radius: rem(20);
    display: flex;
    align-items: center;
    gap: rem(40);
    padding: rem(30);
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: rem(710);
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
    transition: all 0.4s ease 0s;
    z-index: 20;
    &__info {
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(25);
    }
    &__button {
        justify-content: center;
        min-width: rem(230);
    }
    &--show {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
    @include gap {
        border-top-right-radius: rem(20);
        flex-direction: column;
        width: 100%;
        max-width: none;
        & > * {
            margin: 0 auto;
            max-width: rem(680);
            width: 100%;
        }
    }
    @include phone {
        border-top-left-radius: rem(10);
        border-top-right-radius: rem(10);
        padding: rem(20);
        gap: rem(25);
        &__info {
            font-size: rem(16);
            line-height: rem(20);
        }
    }
}