@import "base/_functions.scss";
@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_reset.scss";
@import "mixins/_breakpoints.scss";
@import "mixins/_media.scss";
@import "mixins/_fonts.scss";
@import "base.scss";

// ui
@import "ui/button.scss";
@import "ui/form.scss";
@import "ui/breadcrumbs.scss";
@import "ui/accordion.scss";
@import "ui/popup.scss";
@import "ui/video.scss";
@import "ui/article.scss";

// bem-blocks
@import "modules/order-call.scss";


@import "modules/header.scss";

.page {
    .breadcrumbs__item {
        &:not(:last-child) {
            color: $grey;
            opacity: 1;
        }
    }
}

.service {
    border-bottom: rem(1) solid #D8E2E5;
    display: flex;
    justify-content: space-between;
    column-gap: rem(100);
    @include adaptive-value(column-gap, 40, 100, 992, $container-width);
    padding-bottom: rem(20);
    &__desc {
        display: flex;
        flex-grow: 1;
        font-size: rem(20);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.02em;
    }
    &__about {
        display: flex;
        gap: rem(4);
        margin-right: auto;
    }
    &__id {
        opacity: 0.5;
    }
    &__price {
        margin-left: rem(20);
    }
    &__price, &__button {
        flex-shrink: 0;
    }
    &__button {
        color: $primary-color;
        display: flex;
        align-items: center;
        gap: rem(8);
        span {
            @include txt_medium;
        }
        svg {
            width: rem(8);
            height: rem(8);
        }
    }
    @media screen and (((min-width: 992.5px) and (max-width: 1240px)) or (max-width: 768px)) {
        align-items: flex-start;
        &__desc {
            row-gap: rem(5);
            flex-direction: column;
        }
        &__price {
            margin-left: 0;
        }
    }
    @include gap {
        align-items: center;
        cursor: pointer;
        &__button {
            span {
                display: none;
            }
        }
    }
    @include phone {
        padding-bottom: rem(15);
        &__desc {
            font-size: rem(16);
            line-height: calc(25 / 16);
        }
    }
}

.prices {
    &__content {
        display: flex;
        align-items: flex-start;
        gap: rem(15);
    }
    &__categories, &__services {
        background-color: $white;
        border-radius: rem(25);
    }
    &__categories {
        display: flex;
        flex-direction: column;
        gap: rem(5);
        flex: 0 1 calc(370 / 1520 * 100%);
        padding: rem(10);
        min-width: rem(320);
        overflow: hidden;
    }
    &__categories-list {
        display: flex;
        flex-direction: column;
    }
    &__category {
        border-radius: rem(15);
        @include txt_semibold;
        padding: rem(20) rem(25);
        text-align: left;
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    }
    .tab__content {
        flex: 1 1 auto;
    }
    &__services {
        padding: rem(35) rem(40);
    }
    &__service {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
        &:last-child {
            border-bottom: none;
        }
    }
    @include tablet {
        &__content {
            flex-direction: column;
            align-items: stretch;
        }
        .tab__content {
        
        }
    }
    @media screen and (min-width: 768.5px) and (max-width: 992px) {
        &__categories-list {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: rem(10);
        }
        &__category {
            padding: rem(16) rem(20);
        }
    }
    @include gap {
        &__head {
            display: none;
        }
        &__categories {
            border-radius: rem(15);
            gap: 0;
            padding: 0;
        }
    }
    @include phone {
        &__services {
            border-radius: rem(15);
            padding: rem(20);
        }
        &__service {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
    }
}

.tab {

    &__panel {
    }

    &__head {
        background-color: $primary-color;
        // border-radius: rem(20);
        color: $white;
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: rem(20) rem(40);
        span {
            @include txt_semibold;
        }
        svg {
            width: rem(16);
            height: rem(16);
            transform: rotate(90deg);
        }
    }
    &__button {
        &--active {
            background-color: $primary-color;
            color: $white;
            pointer-events: none;
        }
    }

    &__content {
    }

    &__page {
        display: none;
        &--active {
            display: block;
        }
    }
    @include gap {
        &__panel {
            &--open {
                .tab__head {
                    svg {
                        transform: rotate(-90deg);
                    }
                }
                .tab__nav {
                    padding-top: rem(8);
                    height: auto;
                }
            }
        }
        &__head {
            background-color: $primary-color;
            display: flex;
        }
        &__nav {
            height: 0;
            overflow: hidden;
        }
    }
    @include phone {
        &__head {
            padding: rem(20);
        }
    }
}


.back-call {
    position: relative;
    .section__ellipse {
        height: calc(615 / 775 * 100%);
        &--bottom-right {
            bottom: calc(-240 / 775 * 100%);
        }
        &--bottom-left {
            bottom: calc(-410 / 775 * 100%);
        }
    }
}
.order-call {
    background-color: rgba($color: #0D191F, $alpha: 0.85);
    &__image {
        right: rem(184);
        @include adaptive-value(right, 85, 184, 1280, $container-width);
        bottom: 0;
        width: calc(339 / 1520 * 100%);
    }
    @include tablet {
        .order-call__image {
            align-self: center;
            width: rem(180);
        }
    }
}

@import "modules/content.scss";
.content {
    @include tablet {
        .container {
            display: block;
        }
        &__aside {
            display: none;
        }
    }
}
@import "modules/call-us.scss";

@import "modules/footer.scss";