@import "base/_functions.scss";
@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_reset.scss";
@import "mixins/_breakpoints.scss";
@import "mixins/_media.scss";
@import "mixins/_fonts.scss";
@import "base.scss";

// ui
@import "ui/button.scss";
@import "ui/form.scss";
@import "ui/breadcrumbs.scss";
@import "ui/accordion.scss";
@import "ui/popup.scss";
@import "ui/video.scss";
@import "ui/article.scss";

// bem-blocks
@import "modules/bem-blocks/order-call.scss";


@import "modules/header.scss";

@import "modules/hero.scss";


@import "modules/desc.scss";
.desc {

    &__info-title {
        max-width: rem(582);
    }
}

@import "modules/why-we.scss";
@import "modules/our-company.scss";
.back-call {
    position: relative;
    .section__ellipse {
        height: calc(615 / 775 * 100%);
        &--bottom-right {
            bottom: calc(-240 / 775 * 100%);
        }
        &--bottom-left {
            bottom: calc(-410 / 775 * 100%);
        }
    }
}
.order-call {
    background-color: rgba($color: #0D191F, $alpha: 0.85);
    &__image {
        right: rem(184);
        @include adaptive-value(right, 85, 184, 1280, $container-width);
        bottom: 0;
        width: calc(339 / 1520 * 100%);
    }
    @include tablet {
        .order-call__image {
            align-self: center;
            width: rem(180);
        }
    }
}

@import "modules/services.scss";
@import "modules/help.scss";
@import "modules/contact-us.scss";
@import "modules/faq.scss";
@import "modules/our-advantages.scss";
@import "modules/about-us.scss";
@import "modules/call-us.scss";

@import "modules/footer.scss";