@import "base/_functions.scss";
@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_reset.scss";
@import "mixins/_breakpoints.scss";
@import "mixins/_media.scss";
@import "mixins/_fonts.scss";
@import "base.scss";

// ui
@import "ui/button.scss";
@import "ui/form.scss";
@import "ui/breadcrumbs.scss";
@import "ui/popup.scss";


// bem-blocks
@import "modules/bem-blocks/order-call.scss";

.page {
    &__nav {
        .breadcrumbs__item {
            &:not(:last-child) {
                color: $grey;
                opacity: 1;
            }
        }
    }
}

@import "modules/header.scss";

.nav {
    background-color: $white;
    border-radius: rem(25);
    padding: rem(10);
    overflow: hidden;
    &__head {
        background-color: $primary-color;
        border-radius: rem(20);
        display: none;
        color: $white;
        justify-content: space-between;
        align-items: center;
        gap: rem(8);
        padding: rem(30) rem(35);
        width: 100%;
        span {
            @include txt_semibold;
            font-size: rem(18)
        }
        svg {
            width: rem(16);
            height: rem(16);
            transform: rotate(90deg);
        }
    }
    &__menu {
    }

    &__menu-item {
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
        &--active {
            .nav__menu-link {
                background-color: $primary-color;
                color: $white;
            }
        }
    }

    &__menu-link {
        border-radius: rem(15);
        display: block;
        @include txt_semibold;
        padding: rem(20) rem(25);
    }
    @include tablet {
        padding: 0;
        &__head {
            display: flex;
        }
        &__menu {
            height: 0;
        }
        &__menu-item {
            &--active {
                .nav__menu-link {
                    background-color: transparent;
                    color: $text_color;
                }
            }
        }
        &__menu-link {
            @include ishover {
                color: $primary-color;
            }
        }
        &--open {
            .nav__head {
                svg {
                    transform: rotate(-90deg);
                }
            }
            .nav__menu {
                padding-top: rem(10);
                height: auto;
            }
        }
    }
    @include phone {
        &__head {
            padding: rem(20) rem(23)
        }
    }
}

@import "modules/content.scss";
.content {
    &__column {
        ul {
            margin: rem(40) 0;
            li {
                background-image: url(../images/cross-red.svg);
                background-position: rem(2) rem(2);
                background-repeat: no-repeat;
                @include txt_semibold;
                padding-left: rem(30);
                text-transform: uppercase;
            }
        }
    }
    &__aside {
    }
    &__column > picture,
    &__block > picture {
        border-radius: rem(25);
        display: block;
        margin: rem(40) 0 0;
        overflow: hidden;
        aspect-ratio: calc(948 / 505);
        img {
            height: 100%;
            width: 100%;
            object-fit: cover
        }
    }
    // @media screen and (max-width: 1280px) {
    //     &__nav {
    //         width: rem(320);
    //     }
    // }
    @include tablet {
        .container {
            flex-direction: column-reverse;
        }
        &__aside {
            align-self: stretch;
            flex-basis: auto;
            position: static;
            max-width: rem(620);
        }
        &__nav {
            width: auto;
        }
    }
    @include phone {
        .container {
            gap: rem(35);
        }
        &__nav {
            border-radius: rem(10);
        }
    }
}

@import "modules/call-us.scss";
@import "modules/footer.scss";